<html>
<head>
<link href="./style.css" rel="stylesheet" type="text/css">
<body style="text-align: center">
    <h1 style="color: red; font-size: 40px; padding-bottom: 60px;padding-top: 30px">Quang Huy Pro</h1>
    <form method="POST">
        <h2>Get Instance Of Class</h2>
        <input name="instanceClass" style="padding: 5px; width: 300px; border: 0.5px solid #A9A9A9; border-radius: 5px"><br>
        <input type="submit" value="Send" style="margin: 8px; padding: 6px 20px; font-size: 16px; border-radius:5px; background-color: red; color: white; border:  0px;">

        <h2>Get Property Of Instance</h2>
        <input name="propertyInstance" style="padding: 5px; width: 300px; border: 0.5px solid #A9A9A9; border-radius: 5px"><br>
        <input type="submit" value="Send" style="margin: 8px; padding: 6px 20px; font-size: 16px; border-radius:5px; background-color: red; color: white; border:  0px;">

        <h2>Get All Instance</h2>
        <input name="allInstance" style="padding: 5px; width: 300px; border: 0.5px solid #A9A9A9; border-radius: 5px"><br>
        <input type="submit" value="Send" style="margin: 8px; padding: 6px 20px; font-size: 16px; border-radius:5px; background-color: red; color: white; border:  0px;">

    </form>
    
</body>
</head>
</html>